p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.tahoma {
  font-family: Tahoma;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.deal-text {
  font-size: 30px;
  font-weight: bold;
  width: 400px;
  line-height: 32px;
  margin-bottom: 20px;
}

.sale-text {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

.course-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 270px;
  line-height: 28px;
  margin-bottom: 20px;
}

.course-level {
  font-size: 18px;
  font-weight: normal;
  color: gray;
}

.course-description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  margin-bottom: 15px;
}

.get-started-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.get-started-button:hover {
  background-color: rgb(0, 102, 0);
}

.get-started-button:active {
  opacity: 0.7;
}