.red-square {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: red;
}

.green-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: green;
  border-radius: 50px;
}