.lightblue {
  background-color: lightblue;
}

.lightpink {
  background-color: lightpink;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 200px 75px;
}

.three-col-grid {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  margin-top: 30px;
}

.two-by-four-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 30px;
}